@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

$sans-serif: 'Lato', sans-serif;
$decorative-text: 'Pacifico', cursive;
$menu-color: #000000;

// media queries
$mobile-width: 650px;
