@import "base";

header {
  background: $menu-color;
  padding: 15px 0;
}

.menu-main {
  ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }
  li {
    color: white;
    list-style: none;
    display: inline;
    padding: 0 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

ul.menu-main {
    padding: 0;
    margin: 0;
}
