@import "base";

.banner {
  text-align: center;
  background-image: url("../images/building.jpg");
  background-size: cover;
  color: white;
  height: 90vh;
  font-family: $decorative-text;
  display: flex;
  h1 {
    align-items: center;
  }
}
